* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 90vw;
    height: 300px;
    border: 1px solid rgb(164, 62, 248);
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 50px auto;
    overflow: hidden;
  }
  
  .pelota {
    width: 250px;
    height: 250px;
    background-color: rgb(5, 67, 240);
    border-radius: 50%;
  }
  
  .pelota.play {
    animation: move-play 0.5s linear infinite;
  }
  
  .pelota.reverse {
    animation: move-reverse 0.5s linear infinite;
  }
  .btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border:1px solid rgb(182, 148, 36);
   background-color: rgb(255, 214, 78);
   margin-top: 20px;
  }
  
  
  
  @keyframes move-play {
    100% {
      transform: translateX(100vw);
    }
  }
  
  @keyframes move-reverse {

    0% {
      transform: translateX(100vw);
    }

    100% {
      transform: translateX(0);
    }
}
